.astroBlogMainUI {
    width: 100%;
}

.mainFrmAst {
    background: #f8f8f8;
    height: 350px;
    line-height: inherit;
}

.mainFrmAst,.headerFrmAst,.leftHeaderAst,.titleHeaderAst,.rightHeaderAst,.footerFrmAst {
    display: block;
}

.mainFrmAst {
    border: 1px #ccc solid;
    padding: 5px;
    font-family: 'Roboto',sans-serif;
}

.headerFrmAst {
    font-weight: 600;
    position: relative;
    padding: 0;
    color: #fff;
    cursor: pointer;
    height: 32px;
    overflow: hidden;
    background: var(--main-color);
    display:flex;flex-direction:row;flex-wrap:wrap;align-content:center;justify-content:center;align-items:stretch;
}

.leftDateAst,.rightDateAst {
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    background: var(--main-color);
    float: left;
    box-sizing: border-box;
    text-align: center;
}

.leftDateAst,.rightDateAst,.leftHeaderAst,.rightHeaderAst,.menuHeaderAst {
    width: 10%;
    transition: color .3s,background-color .3s linear .3s;
}

.leftHeaderAst,.titleHeaderAst,.rightHeaderAst {
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
display:flex;flex-direction:row;flex-wrap:wrap;align-content:center;justify-content:center;align-items:stretch;
}

.menuHeaderAst {
    float: left;
    background: var(--main-color);
    vertical-align: middle;
    width: 10%;
    height: 32px;
    position: relative;
}

.cMenuAst {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    position: absolute;
    z-index: +1;
    background: linear-gradient(to bottom,#b2e1ff 0%,#66b6fc 100%);
    box-shadow: 0px 2px 15px 4px rgb(0,0,0,0.75);
    border-radius: 0 0 5px 5px;
}

.cMenuAstList {
    padding: 2px 5px;
    cursor: pointer;
    font-size: 14px;
    transition: all .2s linear;
}

.leftHeaderAst,.rightHeaderAst,.leftDateAst,.rightDateAst {
    color: var(--main-color);
}

.titleHeaderAst {
    width: 70%;
}

.contentFrmAst {
    margin-top: 5px;
    position: relative;
}

.namaFrmAst {
    display: block;
}

#fAstName {
    display: block;
    width: 100%;
    background: #ebebeb;
    height: 30px;
    box-sizing: border-box;
    text-align: left;
    padding-left: 5px;
    font-size: 16px;
    border-width: 1px 1px 1px 0;
    border-color: var(--main-color);
    border-style: solid;
    border-radius: 0 4px 4px 0;
}

#fAstName,#fAstDate {
    transition: all .2s linear;
}

#fAstDate {
    font-family: Roboto;
    width: 80px;
    box-sizing: border-box;
    text-align: center;
    padding: 5px 0;
    display: block;
    background: var(--main-color);
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

#mainContainerAst {
    height: 226px;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
}

#nowDateAst {
    margin-left: 5px;
    margin-top: -5px;
    background: none;
    border: none;
    color: #fff;
    width: 76px;
    font-size: 14px;
    height: 14px;
    cursor: pointer;
    font-weight: 400;
}

#btnDetailBioAst {
    float: right;
    width: 10%;
    text-align: right;
    cursor: pointer;
}

.tbAstrologi {
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.dateToday {
    float: left;
    text-align: center;
    width: 80%;
    background: var(--main-color);
    padding: 5px;
    box-sizing: border-box;
    color: #fff;
}

.imgInputName {
    width: 10%;
    height: 30px;
    text-align: center;
    background: var(--main-color);
    color: #fff;
    box-sizing: border-box;
    position: absolute;
    border-radius: 4px 0 0 4px;
display:flex;flex-direction:row;flex-wrap:wrap;align-content:center;justify-content:center;align-items:stretch;
}

#btnArtiNama {
    border-radius: 4px;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background-color: #33bdef;
    background: linear-gradient(to bottom,#33bdef 5%,#019ad2 100%);
    border: 1px solid #057fd0;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    font-family: Roboto;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #5b6178;
}

#btnArtiNama:hover {
    background: linear-gradient(to bottom,#019ad2 5%,#33bdef 100%);
    background-color: #019ad2;
}

#btnArtiNama:active {
    position: relative;
    top: 1px;
}

.artiNamaJudul,.artiNamaDesc {
    border-radius: 4px;
    padding: 5px;
    text-align: justify;
    color: #fff;
}

.artiNamaJudul {
    box-shadow: inset 0px 1px 0px 0px #9acc85;
    background: linear-gradient(to bottom,#74ad5a 5%,#68a54b 100%);
    background-color: #74ad5a;
    border: 1px solid #3b6e22;
}

.artiNamaDesc {
    box-shadow: inset 0px 1px 0px 0px #e184f3;
    background: linear-gradient(to bottom,#c123de 5%,#a20dbd 100%);
    background-color: #c123de;
    border: 1px solid #a511c0;
    margin-top: 5px;
}

#dateIslamicView {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    color: #fff;
    text-align: justify;
    border: 1px solid #3b6e22;
    box-sizing: border-box;
    box-shadow: inset 0px 1px 0px 0px #caefab;
    background-color: green;
    cursor: default;
}

#dateIslamicMasehi,#dateIslamicHijriah {
    width: 100%;
    padding: 5px;
    color: #fff;
    box-sizing: border-box;
}

#dateIslamicMasehi {
    background: #c7ef93;
    color: #000;
}

#dateIslamicHijriah {
    background: #0a8692;
    margin: 5px 0;
    text-align: justify;
}

#fAstZodiak,#fAstShio,#fAstElemen,#fAstDays,#fAstBio {
    float: left;
}

#imgElemen {
    width: 20px;
    float: right;
    text-align: center;
}

.imgAst {
    width: 20px;
    height: 20px;
    float: right;
}

#fBioPhySin,#fBioEmoSin,#fBioIntSin,#fBioInuSin {
    width: 20%;
}

.barGraphBio {
    width: 50%;
    height: 10px;
    background: green;
    border-radius: 4px;
    transition: all .5s linear;
}

#fBioPhy,#fBioEmo,#fBioInt,#fBioInu {
    width: 20%;
    text-align: center;
}

.barChartBio {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: 1px #ccc solid;
    border-radius: 4px;
}

#fAstBio {
    width: 20%;
    text-align: center;
    float: left;
}

.barChartBioAve {
    display: block;
    box-sizing: border-box;
    width: 70%;
    border: 1px #ccc solid;
    border-radius: 4px;
    float: left;
}

#gBioAverage {
    width: 50%;
    height: 14px;
    background: green;
    border-radius: 4px;
}

.footerFrmAst {
    position: relative;
    clear: both;
display:flex;flex-direction:row;flex-wrap:wrap;align-content:center;justify-content:center;align-items:stretch;
}

#fBtnAstSubmit {
    width: 70%;
    border-radius: 4px 0 0 4px;
}

#fBtnAstClear {
    border-radius: 0 4px 4px 0;
}

.leftFooterFrmAst {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    background: var(--main-color);
    padding: 5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
}

#fBtnAstSave,#fBtnAstShare,#fBtnAstClear {
    width: 10%;
    transition: background-color .3s linear;
}

.footerAttribution {
    width: 100%;
    text-align: center;
    font-size: 10px;
    padding-top: 5px;
    clear: both;
display:flex;flex-direction:row;flex-wrap:wrap;align-content:center;justify-content:center;align-items:stretch;
}

.colorFormAst:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8px;
    background: #c4e17f;
    border-radius: 5px 5px 0 0;
    background-image: -webkit-linear-gradient(left,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);
    background-image: -moz-linear-gradient(left,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);
    background-image: -o-linear-gradient(left,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);
    background-image: linear-gradient(to right,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);
}

.colorFormAst {
    position: fixed;
    margin: 0 0;
    padding: 5px;
    background: white;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    border-radius: 3px;
}

.menuBG {
    background-color: white;
    border-radius: 4px;
    padding: 5px;
    height: 400px;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
    -ms-overflow-y: scroll;
}

@media screen and (max-width:300px) {
    #Biorhythm {
        width: 100%;
    }

    #selRange {
        width: auto;
    }

    #bioName,#b1day,#b2day,#b1month,#b2month,#b1year,#b2year,#selRange {
        padding: 1px;
        font-size: 12px;
    }
}

@media screen and (min-width:900px) {
    #Biorhythm {
        width: 400px;
    }

    #selRange {
        width: 100%;
    }

    #bioName,#b1day,#b2day,#b1month,#b2month,#b1year,#b2year,#selRange {
        padding: 2px;
        font-size: 14px;
    }
}

#myname:first-letter,.mynameshow:first-letter {
    text-transform: capitalize;
}

#lihatAstroBlog {
    z-index: +999999999999999999999;
}

.headerFrmAst:hover>.leftHeaderAst,.headerFrmAst:hover>.rightHeaderAst {
    background: #666;
    color: #fff;
}

.headerFrmAst .titleHeaderAst:hover>#titleHeaderAst i {
    -webkit-animation: rotate-vert-center 0.5s cubic-bezier(0.455,0.030,0.515,0.955) both;
    animation: rotate-vert-center 0.5s cubic-bezier(0.455,0.030,0.515,0.955) both;
}

#dateNav:hover>.leftDateAst,#dateNav:hover>.rightDateAst {
    background: #666;
    color: #fff;
}

.rightHeaderAst:hover>i,.leftHeaderAst:hover>i,.leftDateAst:hover>i,.rightDateAst:hover>i,#btnDetailBioAst:hover {
    -webkit-animation: scaleDir .7s linear infinite;
    animation: scaleDir .7s linear infinite;
}

#fBtnAstSave:hover>i,#fBtnAstShare:hover>i,#fBtnAstClear:hover>i,#fBtnAstSubmit:hover>i {
    -webkit-animation: rotate-scale-up-hor 0.65s linear both;
    animation: rotate-scale-up-hor 0.65s linear both;
}

.namaFrmAst:focus>.imgInputName i,.namaFrmAst:hover>.imgInputName i {
    -webkit-animation: scaleDir .7s linear infinite;
    animation: scaleDir .7s linear infinite;
}

.cMenuAstList:hover {
    background: #666;
    color: #fff;
    border-radius: 4px;
}

#fAstName:hover,#fAstDate:hover {
    background: #ddd !important;
}

#fAstName:focus,#fAstDate:focus {
    background: #fff !important;
}

#fAstDate:hover,#fAstDate:focus {
    color: #000 !important;
}

#fBtnAstSave:hover {
    background: orange !important;
}

#fBtnAstShare:hover {
    background: #008C2E !important;
}

#fBtnAstClear:hover {
    background: red !important;
}

.hov-slider:hover::before,.hov-slider:focus::before,.hov-slider:active::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52,1.64,0.37,0.66);
    transition-timing-function: cubic-bezier(0.52,1.64,0.37,0.66);
    border-radius: 4px 0 0 4px;
}

.hov-slider:active,.hov-slider:focus {
    border: 1px #000 solid;
}

.hov-slider:hover {
    color: #000;
}

.hov-slider::before {
    content: "";
    position: absolute;
    border-radius: 4px 0 0 4px;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom,#8fc800 0%,#8fc800 100%);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hov-slider {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    text-decoration: none;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.menuHeaderAst:hover>i {
    -webkit-animation: rotate-scale-up-hor 0.65s linear both;
    animation: rotate-scale-up-hor 0.65s linear both;
}

#menuHeaderAst {
    transition: background-color .5s ease;
}

#menuHeaderAst:hover {
    background-color: #00c7ec !important;
}

#menuHeaderAst:hover>.nav-iconbar {
    -webkit-animation: rotate-vert-center 0.5s cubic-bezier(0.455,0.030,0.515,0.955) both;
    animation: rotate-vert-center 0.5s cubic-bezier(0.455,0.030,0.515,0.955) both;
}

.menuHeaderAst {
    display: inline-block;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.headerFrmAst:hover>.menuHeaderAst {
    background-color: #666;
}

.menuHeaderAst:hover {
    box-shadow: 0 0 4px 2px rgba(0,199,236,0.5);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.menuHeaderAst:hover:before {
    -webkit-animation: shine 0.5s 0s linear;
    -moz-animation: shine 0.5s 0s linear;
    animation: shine 0.5s 0s linear;
}

.menuHeaderAst:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

.menuHeaderAst:before {
    content: '';
    display: block;
    width: 0px;
    opacity: 0;
    background: white;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@-webkit-keyframes shine {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

@-moz-keyframes shine {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

@keyframes shine {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

@-webkit-keyframes scaleDir {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    50% {
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }

    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@-moz-keyframes scaleDir {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    50% {
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }

    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes scaleDir {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    50% {
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }

    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.nav-iconbar {
    width: 16px;
    height: 16px;
	position: absolute;
    top: calc(100% - 22px);
    left: calc(100% - 25px);
    display: inline-block;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.nav-iconbar span {
    display: block;
    position: absolute;
    height: 2px;
    width: 50%;
    background: #fff;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.nav-iconbar span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}

.nav-iconbar span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
}

.nav-iconbar span:nth-child(1),.nav-iconbar span:nth-child(2) {
    top: 0px;
}

.nav-iconbar span:nth-child(3),.nav-iconbar span:nth-child(4) {
    top: 5px;
}

.nav-iconbar span:nth-child(5),.nav-iconbar span:nth-child(6) {
    top: 10px;
}

.nav-iconbar.open span:nth-child(1),.nav-iconbar.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-iconbar.open span:nth-child(2),.nav-iconbar.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav-iconbar.open span:nth-child(1) {
    left: 1px;
    top: 2px;
}

.nav-iconbar.open span:nth-child(2) {
    left: calc(50% - 1px);
    top: 2px;
}

.nav-iconbar.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

.nav-iconbar.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

.nav-iconbar.open span:nth-child(5) {
    left: 1px;
    top: 8px;
}

.nav-iconbar.open span:nth-child(6) {
    left: calc(50% - 1px);
    top: 8px;
}

@-webkit-keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
