.astroBlogMainUIJodoh{width:100%;position:relative;}
.mainFrmJodoh{background:#f5f5f5;height:345px;line-height:inherit;}
.mainFrmJodoh,.headerFrmJodoh,.leftHeaderJodoh,.titleHeaderJodoh,.rightHeaderJodoh,.footerFrmJodoh{
display:block;
}
.mainFrmJodoh{
border:1px #ff0b75 solid;
padding:5px;
font-family:'Roboto',sans-serif;
}
.headerFrmJodoh{
font-size:16px;
font-weight:600;
height:30px;
position:relative;
padding:0;
color:#fff;
cursor:pointer;
}
.leftHeaderJodoh,.rightHeaderJodoh{
width:10%;
transition: color .3s, background-color .3s linear .3s;
}
.leftHeaderJodoh,.titleHeaderJodoh,.rightHeaderJodoh{
float:left;
box-sizing:border-box;
padding:5px;
text-align:center;
background:#ff0b75;
}
.leftHeaderJodoh,.rightHeaderJodoh{color:#333;}
.titleHeaderJodoh{width:80%;}
.contentFrmJodoh{position:relative;height:261px;clear:both;}
.flip-card-back:hover{border-size:1px #ccc solid;}
.namaFrmJodoh{display:block;margin:5px 0;height:62px;padding:5px;}
#dataFemale{background:#ffa3cb;}
#dataMale{background:#70aeff;}
#dataPrimbon{background:#9cde44;text-align:justify;}
.dataHasilJdh{margin-bottom:5px;padding:5px;color:#000;border-radius:4px;}
#dataKecocokan{background:#461843;padding:5px;color:#fff;border-radius:4px;}

.fAstNameJodoh{
display:block;
width:100%;
background:#333;
height:30px;
box-sizing:border-box;
padding:0 5px;
font-size:16px;
border-style:solid;
color:#fff;
}
.fAstNameJodoh,.fAstDateJodoh{transition:all .2s linear;}
.fAstDateJodoh{
font-family:Roboto;
width:80px;
box-sizing:border-box;
text-align:center;
padding:5px 0;
display:block;
color:#000;
border:none;
cursor:pointer;
border-radius:5px;
}
#fAstDateFemale{background:#ffa3cb;}
#fAstDateMale{background:#70aeff;}
#fAstNameFemale{border-color:#ffa3cb;}
#fAstNameMale{border-color:#70aeff;}
#mainContentJodoh{
background:#461843 url(https://2.bp.blogspot.com/-apWEHSJwc3w/XcTpnGdzxkI/AAAAAAAAB34/0fAEAsVeqNQiC5hZ9tToOZuseNhhHglZgCLcBGAsYHQ/s1600/Heart_Pattern2.png)repeat;
background-size:90px auto;
padding:5px;
height:87px;
}
.mainContainerJodoh{text-align:center;}
.mainContainerBarChart{position:relative;overflow:hidden;}
.imgInputNameLeft{border-radius:4px 0 0 4px;background:#ffa3cb;}
.imgInputNameRight{border-radius:0 4px 4px 0;background:#70aeff;}
.imgInputNameLeft,.imgInputNameRight{
width:10%;
height:30px;
text-align:center;
padding-top:6px;
color:#fff;
box-sizing:border-box;
}
.fAstMatch{
width:100%;
text-align:center;
color:#fff;
font-size:14px;
margin-bottom:5px;
}
.barChartMatch{
border-radius:4px;
height:18px;
display:block;
box-sizing:border-box;
width:100%;
border:1px #ccc solid;
}
#gAverageMatch{
width:50%;
height:16px;
background:#61C419;
margin:0;
padding:0;
box-sizing:border-box;
display:inline-block;
transition:all .5s ease;
}
.btnKecocokan{padding:9px 0;text-align:center;display:inline-block;box-sizing:border-box;}
#btnKecocokan{
padding:4px 10px;
border-radius:4px;
background:linear-gradient(to bottom, #ff5db1 0%,#ef017c 100%);
display:block;
border:1px #fe55ac solid;
color:#fff;
cursor:pointer;
transition:box-shadow .3s linear;
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Old versions of Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none; 
}
#btnKecocokan:hover{box-shadow:0 0 6px 0px #fff;border:1px #f21085 solid;}
#btnKecocokan:active{border-color:#fff;}
.footerFrmJodoh{position:relative;clear:both;}
.footerJodohAttr{
width:100%;
text-align:center;
font-size:10px;
padding-top:5px;
clear:both;
color:#000;
}
.leftfooterFrmJodoh{
text-align:center;
height:30px;
padding-top:5px;
box-sizing:border-box;
cursor:pointer;
border-radius:4px;
}
/* Animasi */
.headerFrmJodoh:hover > .leftHeaderJodoh,.headerFrmJodoh:hover > .rightHeaderJodoh {background:#a80049;color:#fff;}
.rightHeaderJodoh:hover > i,.leftHeaderJodoh:hover > i, .leftDateAst:hover > i,.rightDateAst:hover > i{
-webkit-animation: scaleDir .7s linear infinite;
animation: scaleDir .7s linear infinite;
}
#fBtnJodohShare:hover > i{-webkit-animation: rotate-scale-up-hor 0.65s linear both;animation: rotate-scale-up-hor 0.65s linear both;}
.namaFrmJodoh:hover > .imgInputNameLeft i,.namaFrmJodoh:hover > .imgInputNameRight i{-webkit-animation: scaleDir .7s linear infinite;animation: scaleDir .7s linear infinite;}
.fAstNameJodoh:hover,.fAstDateJodoh:hover{background:#666 !important;}
#fAstNameFemale:focus{background:#FECCC6 !important;color:#000; !important;}
#fAstNameMale:focus{background:#d6e7ff !important;color:#000; !important;}
.fAstDateJodoh:hover{color:#000 !important;}
.fAstDateJodoh:hover{color:#fff !important;}
#fBtnJodohShare:hover::before, #fBtnJodohShare:focus::before, #fBtnJodohShare:active::before {
-webkit-transform: scaleX(1);
transform: scaleX(1);
-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
#fBtnJodohShare:active,#fBtnJodohShare:focus{border:1px #fff solid;}
#fBtnJodohShare:hover{color:#000;}
#fBtnJodohShare::before {
content: "";
position: absolute;
z-index: -1;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: linear-gradient(to bottom, #8fc800 0%,#8fc800 100%);
-webkit-transform: scaleX(0);
transform: scaleX(0);
-webkit-transform-origin: 0 50%;
transform-origin: 0 50%;
-webkit-transition-property: transform;
transition-property: transform;
-webkit-transition-duration: 0.5s;
transition-duration: 0.5s;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}
#fBtnJodohShare{
color:#fff;
font-size:16px;
font-weight:600;
float:left;
background:#ff0b75;
width:100%;
display: inline-block;
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
position: relative;
text-decoration:none;
-webkit-transition-property: all;
transition-property: all;
-webkit-transition-duration: 0.5s;
transition-duration: 0.5s;
}
@-webkit-keyframes rotate-hor-center {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
            transform: rotateX(-360deg);
  }
}
@keyframes rotate-hor-center {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
            transform: rotateX(-360deg);
  }
}
.ui-datepicker{z-index: 99 !important};
@media screen and (max-width: 450px){
.astroBlogMainUIJodoh{margin:5px 0;}
}
.contentFrmJodoh {
  background-color:none;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width:100%;
  height:100%;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card-front {
margin:0;
}
.flip-card-back {
height:251px;
overflow-y:scroll;
font-size:14px;
padding-top:5px;
background-color: #f5f5f5;
transform: rotateY(180deg);
}
