/* Related Post Style by CodeFlare Blogspot */
/* Default Setting ----------------------- */
:root{--rpColor:#0083da;}
:root{--rpWidth:33.33%;}
/* Main Division -------------------- */
#related_posts{
background-color: #FFFFFF;
border: 1px solid var(--rpColor);
display:inline-block;
position:relative;
width:100%;
box-sizing:border-box;
text-align:center;
height:193px;
overflow:hidden;
}
/* List Order --------------------- */
#related_posts ul,#related_posts li{
margin:0;
}
#related_posts ul{
list-style:none;
overflow:hidden;
padding:5px 2px 0 2px;
display:inline-block;
}
#related_posts li{
width:var(--rpWidth);
padding:0;
list-style:none;
float:left;
height:150px;
overflow:hidden;
position: relative;
margin: 2px 0 2px 0;
}
#related_posts ul li:before,#related_posts ul li:after{
content:"";
padding:0;
margin:0;
}
/* Inner Division ----------------- */
#related_posts .inner{
padding:0px;
margin:0 2px;
}
#related_posts .inner strong{
font-size:16px;
line-height:1.2em;
display:block;
overflow:hidden;
max-height:100%;
padding:0 4px;
text-align:left;
}
#related_posts p{
margin:10px 0 0;
padding:0 4px;
position:static;
text-align:left;
font-size:14px;
max-height:100%;
color:#000;
}
/* a Link ----------------------- */
#related_posts a:link{
color: var(--rpColor);
text-decoration: none;
}
#related_posts a{
text-decoration:none;
}
/* Image ------------------------ */
#related_posts a img{
border-width: 0;
}
#related_posts img{
max-width: 100%;
height: auto;
width: auto\9;
}
#related_posts .imageRP{
display:block;
overflow:hidden;
height:140px;
padding:4px;
border:1px solid #D5D5D5;
}
#related_posts .imageRP img{
width:100%;
height:100%;
}
#related_posts li:hover .imageRP,
#related_posts li:hover .date {
margin-top:-150px;
}
#related_posts .imageRP{
-webkit-transition:margin-top 0.7s ease;
-moz-transition:margin-top 0.7s ease;
-ms-transition:margin-top 0.7s ease;
-o-transition:margin-top 0.7s ease;
transition:margin-top 0.7s ease;
}
#related-posts-loadingtext{
display:inline-cell;
text-align:center;
font-size:30px;
padding:40px;
color:var(--rpColor);
}
/* Date Division --------------------- */
#related_posts .date::after{
border-color: var(--rpColor) var(--rpColor) transparent transparent;
right: 0;
}
#related_posts .date::before, #related_posts .date::after{
border-width: 5px 10px;
border-style: solid;
top: 100%;
}
#related_posts .date::before, #related_posts .date::after{
position: absolute;
content: "";
width: 0;
height: 0;
}
#related_posts .date::before{
border-color: var(--rpColor) transparent transparent var(--rpColor);
left: 0;
}
#related_posts .date{
top: 5px;
left: 7px;
background-color: var(--rpColor);
color: #FFFFFF;
padding: 5px 3px;
text-align: center;
font-size: 9px;
}
#related_posts .date{
position: absolute;
}
#related_posts .date strong{
font-weight: bold;
}
#related_posts .date span{
line-height: 12px;
padding: 0;
}
#related_posts .date strong, #related_posts .date span{
display: block;
}
#related_posts .date{
-webkit-transition:margin-top 0.7s ease;
-moz-transition:margin-top 0.7s ease;
-ms-transition:margin-top 0.7s ease;
-o-transition:margin-top 0.7s ease;
transition:margin-top 0.7s ease;
}
/* Header Animation --------------------- */
#related_posts:hover > .rpTitleH2::before, #related_posts:hover > .rpTitleH2:focus::before, #related_posts:hover > .rpTitleH2:active::before {
-webkit-transform: scaleX(1);
transform: scaleX(1);
-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);box-shadow:inset 0px 1px 0px 0px #97c4fe;
}
#related_posts:hover > .rpTitleH2{
padding-left:15px;
}
.rpTitleH2::before {
content: "";
position: absolute;
z-index: -1;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgb(0,0,0,.2);
-webkit-transform: scaleX(0);
transform: scaleX(0);
-webkit-transform-origin: 0 50%;
transform-origin: 0 50%;
-webkit-transition-property: transform;
transition-property: transform;
-webkit-transition-duration: 0.5s;
transition-duration: 0.5s;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}
.rpTitleH2 {
display: inline-block;
text-align:left;
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
position: relative;
width:100%;
height:30px;
box-sizing:border-box;
background-color:#0083da;
display:inline-block;
cursor:pointer;
color:#fff;
font-size:110%;
font-weight:bold;
padding:4px 10px;
text-decoration:none;
box-shadow:inset 0px 1px 0px 0px #97c4fe;
-webkit-transition-property: all;
transition-property: all;
-webkit-transition-duration: 0.5s;
transition-duration: 0.5s;
}
/* Responsive --------------------- */
@media screen and (max-width: 525px){#related_posts li{width:50%;}}
@media screen and (max-width: 700px) and (min-width: 525px){#related_posts li{width:33.3%;}}
@media screen and (max-width: 900px) and (min-width: 701px){#related_posts li{width:25%;}}
@media screen and (max-width: 1170px) and (min-width: 901px){#related_posts li{width:20%;}}
@media screen and (max-width: 1351px) and (min-width: 1171px){#related_posts li{width:16.66%;}}
